//define our colors
$highlight : #077687;
$white : #fff;
$black: black;
//define our font sizes
$h1: 2.8rem;
$h2: 2.6rem;
$h3: 2rem;
$h4: 1.8rem;
$h5: 1.6rem;
$h6: 1.4rem;

//define our repeating sets
$transition : all 0.3s ease-out;