//define our colors
$dark-green : #024959;
$mid-green : #026873;
$light-green : #3BB2BF;
$occean-green : #7EF2F2;
$cloudy-green : #C2F2F2;
$white : #fff;

//define our font sizes
$h1: 2.8rem;
$h2: 2.6rem;
$h3: 2rem;
$h4: 1.8rem;
$h5: 1.6rem;
$h6: 1.4rem;