.header-title{
    h1{
        font-size: 4rem;
        font-family: 'Work Sans', sans-serif;
        margin: 2rem 0;
    }
    h2{
        font-size: 3.2rem;
        font-family: 'Galada', cursive;
        margin: 2rem 0;
    }
}

.light-outline{
    color: $white;
}

.dark-outline{
    color: $black;
}

@media only screen and (max-width: 768px){
    .header-title{
        h1{
            font-size: 3.5rem;
        }
        h2{
            font-size: 2.8rem;
        }
    }
    
}
