//defining our mixins
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//importing our global styling
@import './abstract/variables';
@import './base/global';

//defining the styles for our App.js


//importing our components' css
@import './components/navbar';
@import './components/banner';
@import './components/headline';
@import './components/button';
@import './components/aboutUs';